body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: white;
  color: black;
}

header {
  background-color: #333;
  color: white;
  padding: 10px;
  text-align: center;
}

main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 20px;
}

.movie-card {
  width: calc(23.33% - 15px);
  margin-bottom: 20px;
  background-color: #f9f9f9;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  color: black; /* Set default color */
}

.movie-card img {
  width: 100%;
  height: auto;
}

.movie-info {
  padding: 10px;
  background-color: transparent; /* Set background to transparent */
}

footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 10px;
  /* position: fixed; */
  bottom: 0;
  /* width: 100%; */
}

.dark-mode {
  background-color: black;
  color: white; /* Set default text color in dark mode */
}

body.dark-mode .movie-info {
  color: white; /* Set text color to white in dark mode */
}

body.dark-mode .movie-card {
  background-color: black; /* Set background to black in dark mode */
  color: white; /* Set text color to white in dark mode */
}

body.dark-mode header,
body.dark-mode main,
body.dark-mode footer {
  background-color: black; /* Set background to black in dark mode */
  color: white; /* Set text color to white in dark mode */
}

#but{
  text-align: center;
}

.spinner {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 4px solid rgba(0, 0, 0, 0.1);
  border-left-color: #000;
  animation: spin 1s linear infinite;
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -20px; /* Half of the height */
  margin-left: -20px; /* Half of the width */
  z-index: 9999; /* Ensure it appears on top of other content */
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
